fastapi
uvicorn[standard]
sqlalchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
joblib
scikit-learn
numpy
pandas
tensorflow
openai-whisper
ffmpeg-python
httpx
mediapipe
opencv-python
recordrtc
